### Read the arabica data set into a dataframe
You will notice an "Unnamed: 0" column. Where does it come from, how can one get "rid" of it?

In [30]:
import pandas as pd
import numpy as np
from pathlib import Path

In [31]:
df = pd.read_csv(Path("../../data/arabica_data_cleaned.csv"), index_col=0)
df.head()
# unnamed col because pandas is too stupid to recognize the index by itself

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

## Drop some categorical columns
The dataset is rich in meta data, however we just want to keep "Country.of.Origin", "Producer", "Processing.Method". How to drop the rest?
While you're at it rename the three columns we want to keep so they do not have dots but space in their name.

In [32]:
df = df[["Country.of.Origin","Producer","Processing.Method"]]
df.columns = ["Country of Origin","Producer","Processing Method"]
df.head()

  Country of Origin                               Producer Processing Method
1          Ethiopia                              METAD PLC      Washed / Wet
2          Ethiopia                              METAD PLC      Washed / Wet
3         Guatemala                                    NaN               NaN
4          Ethiopia  Yidnekachew Dabessa Coffee Plantation     Natural / Dry
5          Ethiopia                              METAD PLC      Washed / Wet

## Clean the data set
The dataset does not seem to be as clean as the filename might suggest. How can you get a quick overview over the data and identify which columns have extreme outliers? If you cannot using pd commands, try to plot (see next question)!

In [33]:
df = pd.read_csv(Path("../../data/arabica_data_cleaned.csv"), index_col=0)

In [34]:
def get_nan_colnames(df, percent_cutoff=0.25):
    cols_to_remove = []
    for col in df.columns:
        mask = df[col].isnull()
        total_nan = mask.sum()
        percentage = (total_nan/len(mask))
        if percentage >= percent_cutoff: cols_to_remove.append(col)
    print(f"Remove {len(cols_to_remove)} cols")
    return cols_to_remove

In [35]:
df = df.drop(get_nan_colnames(df),axis=1)

Remove 2 cols

In [36]:
def get_int_float(df):
    cols_int_float = []
    for col in df.columns:
        if df[col].dtypes in [float,int]:
            cols_int_float.append(col)
    return cols_int_float

In [37]:
df = df[["Country.of.Origin","Producer","Processing.Method"]+get_int_float(df)]
len(df.columns)

22

In [38]:
df5 = df.dropna(axis="rows")

In [39]:
df = df.rename(
    columns={"Country.of.Origin":"Country of Origin","Processing.Method":"Processing Method"}
)
df

,Country of Origin,Producer,Processing Method,Number.of.Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Ethiopia,METAD PLC,Washed / Wet,300,8.67,8.83,8.67,8.75,8.50,8.42,...,10.00,8.75,90.58,0.12,0,0.0,0,1950.00,2200.00,2075.00
2,Ethiopia,METAD PLC,Washed / Wet,300,8.75,8.67,8.50,8.58,8.42,8.42,...,10.00,8.58,89.92,0.12,0,0.0,1,1950.00,2200.00,2075.00
3,Guatemala,NaN,NaN,5,8.42,8.50,8.42,8.42,8.33,8.42,...,10.00,9.25,89.75,0.00,0,0.0,0,1600.00,1800.00,1700.00
4,Ethiopia,Yidnekachew Dabessa Coffee Plantation,Natural / Dry,320,8.17,8.58,8.42,8.42,8.50,8.25,...,10.00,8.67,89.00,0.11,0,0.0,2,1800.00,2200.00,2000.00
5,Ethiopia,METAD PLC,Washed / Wet,300,8.25,8.50,8.25,8.50,8.42,8.33,...,10.00,8.58,88.83,0.12,0,0.0,2,1950.00,2200.00,2075.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,Mexico,JUAN CARLOS GARCÍA LOPEZ,Washed / Wet,12,7.08,6.83,6.25,7.42,7.25,6.75,...,10.00,6.75,68.33,0.11,0,0.0,20,900.00,900.00,900.00
1308,Haiti,COEB Koperativ Ekselsyo Basen,Natural / Dry,1,6.75,6.58,6.42,6.67,7.08,6.67,...,6.00,6.42,67.92,0.14,8,0.0,16,350.00,350.00,350.00
1309,Nicaragua,Teófilo Narváez,Other,550,7.25,6.58,6.33,6.25,6.42,6.08,...,6.00,6.17,63.08,0.13,1,0.0,5,1100.00,1100.00,1100.00
1310,Guatemala,WILLIAM ESTUARDO MARTINEZ PACHECO,Washed / Wet,275,7.50,6.67,6.67,7.67,7.33,6.67,...,1.33,6.67,59.83,0.10,0,0.0,4,1417.32,1417.32,1417.32
1312,Honduras,Reinerio Zepeda,NaN,275,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.12,0,0.0,2,1400.00,1400.00,1400.00

Plan:

- If a column contains more than 80% NaN, it is removed
- If a row contains only one missing value/NaN it is removed
--> ergo no NaN left

<br>

- choose all columns with int or float values manually
- check all columns and if they have to be changed up (e.g. Altitude)
- calculate sd for every column and values that are differing more than 3sd from mean, are set to median

## Plot 
Plot a plotly histogram for each of the remaining columns. Can you write a loop?

In [40]:
import plotly.express as px

In [41]:
def create_plots(df_input, suffix=""):
    Path("plots/").mkdir(parents=True, exist_ok=True)
    for col in df_input.columns:
        if df_input[col].dtypes not in [int,float]:
            continue
        else:
            fig = px.histogram(df_input, x=col)
            fig.write_image("plots/"+col+suffix+".png")

In [42]:
create_plots(df)

## cleaning outliers
* define heuristics that classify outliers for each column
* set outliers to median

In [43]:
def create_cleaned_dataframe(df):
    df = df.copy()
    for col in df.columns:
        if df[col].dtypes not in [int,float]: continue
        mean_col = np.mean(df[col])
        median_col = np.median(df[col])
        std_col = np.std(df[col])
        df[col] = df[col].apply(lambda x: median_col if ((x > mean_col + 3 * std_col) | (x < mean_col - 3 * std_col)) else x)
    return df

In [44]:
df_cleaned = create_cleaned_dataframe(df)
create_plots(df_cleaned,"cleaned")

## Identify 
 * Which countries have more than 10 and less than 30 entries?
 * Which is the producer with most entries?
 * What is the mosts common and least common "Processing Method"

In [45]:
counts = df_cleaned["Country of Origin"].value_counts()

counts = counts[10 < counts]
counts = counts[counts < 30]

print(f'The countires with entries between 10 an 30 are: \n{counts}')

The countires with entries between 10 an 30 are:
Uganda         26
Nicaragua      26
Kenya          25
El Salvador    21
Indonesia      20
China          16
Malawi         11
Name: Country of Origin, dtype: int64

In [46]:
counts_producer = df_cleaned["Producer"].value_counts()

print(f'The producer with the most entries is {counts_producer[0:1]}.')

The producer with the most entries is La Plata    30
Name: Producer, dtype: int64.

In [47]:
count_process_method = df_cleaned["Processing Method"].value_counts()

print(f'The most favorite processing method is {count_process_method[0:1]}.')
print(f'The least favorite processing method is {count_process_method[len(count_process_method)-1:len(count_process_method)]}.')

The most favorite processing method is Washed / Wet    812
Name: Processing Method, dtype: int64.
The least favorite processing method is Pulped natural / honey    14
Name: Processing Method, dtype: int64.